<div class="filter-group">
    <label class="topcoat-checkbox" for="filter-checkbox-{{id}}">
        <input type="checkbox" id="filter-checkbox-{{id}}" {{checked setting}} data-filter-bind="measures"
               data-measure-id="{{id}}">

        <div class="topcoat-checkbox__checkmark"></div>
        {{short}}
    </label>
</div>